beautifulsoup4
black
brotli
feedparser
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
icalendar
ics
isort
lxml
nest-asyncio
prisma
python-dateutil
python-dotenv
pytz
requests
selenium
webdriver-manager